@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
    font-family: "Spartan", sans-serif;
}

body[data-theme="theme noel"] {
    --mainBackground: #F23941;
    --toggleKeypadBackground: #96282f;
    --screenBackground: #951D26;

    --keyBackgroundFirst: #406D36;
    --keyShadowFirst: #A3AF97;
    --keyBackgroundToggleSecond: #C29D5C;
    --keyShadowSecond: #E2C793;
    --keyBackgroundThird: #F8F9F3;
    --keyShadowThird: #c8c9c6;

    --textFirst: #000;
    --textSecond: #fff;

    color: var(--textSecond);
}
#labelOptionNoel {
    color: var(--mainBackground);
    grid-column: 2;
}

body[data-theme="theme one"] {
    --mainBackground: hsl(222, 26%, 31%);
    --toggleKeypadBackground: hsl(223, 31%, 20%);
    --screenBackground: hsl(224, 36%, 15%);

    --keyBackgroundFirst: hsl(225, 21%, 49%);
    --keyShadowFirst: hsl(224, 28%, 35%);
    --keyBackgroundToggleSecond: hsl(6, 63%, 50%);
    --keyShadowSecond: hsl(6, 70%, 34%);
    --keyBackgroundThird: hsl(30, 25%, 89%);
    --keyShadowThird: hsl(28, 16%, 65%);

    --textFirst: hsl(221, 14%, 31%);
    --textSecond: #fff;

    color: var(--textSecond);
}

body[data-theme="theme two"] {
    --mainBackground: hsl(0, 0%, 90%);
    --toggleKeypadBackground: hsl(0, 5%, 81%);
    --screenBackground: hsl(0, 0%, 93%);

    --keyBackgroundFirst: hsl(185, 42%, 37%);
    --keyShadowFirst: hsl(185, 58%, 25%);
    --keyBackgroundToggleSecond: hsl(25, 98%, 40%);
    --keyShadowSecond: hsl(25, 99%, 27%);
    --keyBackgroundThird: hsl(45, 7%, 89%);
    --keyShadowThird: hsl(35, 11%, 61%);

    --textFirst: hsl(60, 10%, 19%);
    --textSecond: #fff;

    color: var(--textFirst);
}

body[data-theme="theme three"] {
    --mainBackground: hsl(268, 75%, 9%);
    --toggleKeypadBackground: hsl(268, 71%, 12%);
    --screenBackground: hsl(268, 71%, 12%);

    --keyBackgroundFirst: hsl(281, 89%, 26%);
    --keyShadowFirst: hsl(285, 91%, 52%);
    --keyBackgroundToggleSecond: hsl(176, 100%, 44%);
    --keyShadowSecond: hsl(177, 92%, 70%);
    --keyBackgroundThird: hsl(268, 47%, 21%);
    --keyShadowThird: hsl(290, 70%, 36%);

    --textFirst: hsl(52, 100%, 62%);
    --textSecond: #fff;
    --textThird: hsl(198, 20%, 13%);

    color: var(--textFirst);
}
body[data-theme="theme three"] #equal {
    color: var(--textThird);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBackground);
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.title::before {
    content: "// ";
}

/* HEADER */
/* settings */
.settings {
    display: grid;
    grid-template-columns: 200px 50px repeat(3, 15px);
    grid-template-rows: 15px 15px;
    align-items: stretch;
}
.settings_title {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.2rem;
}
.settings_theme {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.5rem;
    text-transform: uppercase;
    text-align: right;
    margin: 0.3rem 0.5rem 0 0;
}
.settings label {
    font-size: .5rem;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.settings input {
    margin: 0 auto;
    display: none;
}

.settings_input {
    grid-column: 3 / -1;
    grid-row: 2;
    background: var(--toggleKeypadBackground);
    border-radius: 50px;
    position: relative;
    display: flex;
}

.settings_input .toggleOptionTheme {
    position: absolute;
    top: 3px;
    background: var(--keyBackgroundToggleSecond);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all .5s ease;
}

.settings #option1:checked ~ .toggleOptionTheme {
    left: 3px;
}

.settings #option2:checked ~ .toggleOptionTheme {
    left: 19px;
}

.settings #option3:checked ~ .toggleOptionTheme {
    left: 33px;
}

#labelOption1 {
    grid-column: 3;
    grid-row: 1;
}
#option1 {
    grid-column: 3;
    grid-row: 2;
}
#labelOption2 {
    grid-column: 4;
    grid-row: 1;
}
#option2 {
    grid-column: 4;
    grid-row: 2;
}
#labelOption3 {
    grid-column: 5;
    grid-row: 1;
}
#option3 {
    grid-column: 5;
    grid-row: 2;
}

/* results */
.result {
    color: var(--textWhite);
    background: var(--screenBackground);
    border-radius: 5px;
    margin: 1.5rem 0 1rem;
}
.result_number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    font-size: 2rem;
}

/* BUTTONS */
.buttons_container {
    background: var(--toggleKeypadBackground);
    border-radius: 5px;
}

.buttons_container-numbers {
    display: grid;
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: repeat(4, 35px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;
}

.buttons_container-numbers .btn {
    background: var(--keyBackgroundThird);
    color: var(--textFirst);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 0px 0px var(--keyShadowThird);
    -webkit-box-shadow: 0px 3px 0px 0px var(--keyShadowThird);
    -moz-box-shadow: 0px 3px 0px 0px var(--keyShadowThird);
    cursor: pointer;
    padding-top: .2rem;
}

.buttons_container-actions {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    grid-template-rows: 35px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0 15px 15px;
}

.buttons_container-actions .btn {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: .2rem;
}

#btn-del, #btn-reset {
    background: var(--keyBackgroundFirst);
    color: var(--textSecond);
    font-size: .7rem;
    box-shadow: 0px 3px 0px 0px var(--keyShadowFirst);
    -webkit-box-shadow: 0px 3px 0px 0px var(--keyShadowFirst);
    -moz-box-shadow: 0px 3px 0px 0px var(--keyShadowFirst);
}

#btn-equal {
    background: var(--keyBackgroundToggleSecond);
    color: var(--textSecond);
    box-shadow: 0px 3px 0px 0px var(--keyShadowSecond);
    -webkit-box-shadow: 0px 3px 0px 0px var(--keyShadowSecond);
    -moz-box-shadow: 0px 3px 0px 0px var(--keyShadowSecond);
}


/* ATTRIBUTION */
.attribution {
    font-size: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    color: #000;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}