@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
    font-family: "Spartan", sans-serif;
}

body {
    --mainBackground: hsl(222, 26%, 31%);
    --toggleKeypadBackground: hsl(223, 31%, 20%);
    --screenBackground: hsl(224, 36%, 15%);

    --keyBackgroundBlue: hsl(225, 21%, 49%);
    --keyShadowBlue: hsl(224, 28%, 35%);
    --keyBackgroundToggleRed: hsl(6, 63%, 50%);
    --keyShadowRed: hsl(6, 70%, 34%);
    --keyBackgroundGrayish: hsl(30, 25%, 89%);
    --keyShadowGrayish: hsl(28, 16%, 65%);

    --textBlue: hsl(221, 14%, 31%);
    --textWhite: #fff;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBackground);
    color: var(--textWhite);
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.title::before {
    content: "// ";
}

/* HEADER */
/* settings */
.settings {
    display: grid;
    grid-template-columns: 200px 50px repeat(3, 15px);
    grid-template-rows: 15px 15px;
    align-items: stretch;
}
.settings_title {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.2rem;
}
.settings_theme {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.5rem;
    text-transform: uppercase;
    text-align: right;
    margin: 0.3rem 0.5rem 0 0;
}
.settings label {
    font-size: .5rem;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.settings input {
    margin: 0 auto;
    display: none;
}

.settings_input {
    grid-column: 3 / -1;
    grid-row: 2;
    background: var(--toggleKeypadBackground);
    border-radius: 50px;
    position: relative;
    display: flex;
}

.settings_input .toggleOptionTheme {
    position: absolute;
    top: 3px;
    background: var(--keyBackgroundToggleRed);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all .5s ease;
}

.settings #option1:checked ~ .toggleOptionTheme {
    left: 3px;
}

.settings #option2:checked ~ .toggleOptionTheme {
    left: 19px;
}

.settings #option3:checked ~ .toggleOptionTheme {
    left: 33px;
}

#labelOption1 {
    grid-column: 3;
    grid-row: 1;
}
#option1 {
    grid-column: 3;
    grid-row: 2;
}
#labelOption2 {
    grid-column: 4;
    grid-row: 1;
}
#option2 {
    grid-column: 4;
    grid-row: 2;
}
#labelOption3 {
    grid-column: 5;
    grid-row: 1;
}
#option3 {
    grid-column: 5;
    grid-row: 2;
}

/* results */
.result {
    color: var(--textWhite);
    background: var(--screenBackground);
    border-radius: 5px;
    margin: 1.5rem 0 1rem;
}
.result_number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    font-size: 2rem;
}

/* BUTTONS */
.buttons_container {
    background: var(--toggleKeypadBackground);
    border-radius: 5px;
}

.buttons_container-numbers {
    display: grid;
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: repeat(4, 35px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;
}

.buttons_container-numbers-btn {
    background: var(--keyBackgroundGrayish);
    color: var(--textBlue);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 0px 0px var(--keyShadowGrayish);
    -webkit-box-shadow: 0px 3px 0px 0px var(--keyShadowGrayish);
    -moz-box-shadow: 0px 3px 0px 0px var(--keyShadowGrayish);
    cursor: pointer;
    padding-top: .2rem;
}

.buttons_container-actions {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    grid-template-rows: 35px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0 15px 15px;
}

.buttons_container-actions-btn {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: .2rem;
}

#del, #reset {
    background: var(--keyBackgroundBlue);
    color: var(--textWhite);
    font-size: .7rem;
    box-shadow: 0px 3px 0px 0px var(--keyShadowBlue);
    -webkit-box-shadow: 0px 3px 0px 0px var(--keyShadowBlue);
    -moz-box-shadow: 0px 3px 0px 0px var(--keyShadowBlue);
}

#equal {
    background: var(--keyBackgroundToggleRed);
    color: var(--textWhite);
    box-shadow: 0px 3px 0px 0px var(--keyShadowRed);
    -webkit-box-shadow: 0px 3px 0px 0px var(--keyShadowRed);
    -moz-box-shadow: 0px 3px 0px 0px var(--keyShadowRed);
}


/* ATTRIBUTION */
.attribution {
    font-size: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}